<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wahaj.reccenter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeRed">
        <activity
            android:name=".Splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RentalsActivity"
            android:configChanges="orientation"
            android:label="Rentals"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FitnessHours"
            android:theme="@style/AppThemeBlack"
            android:label="Hours of Operation"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacilityOptions"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RentalsOutdoor"
            android:label="Outdoor Rentals"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RentalsWaterSports"
            android:label="Water Sport Rentals"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HowBusy"
            android:theme="@style/AppThemeBlack"
            android:label="How Busy"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutFitness"
            android:theme="@style/AppThemeBlack"
            android:label="About"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FitnessContact"
            android:theme="@style/AppThemeBlack"
            android:label="Contact"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>